@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    position: absolute;
    top: 10%;
    left: 30%;
}

img {
    height: 170px;
    width: 600px;
}

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #108D1D;
}

input{
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    height: 40px;
    width: 150px;
    margin-left: 100px;
    margin-top: 70px;
    background-color: #7FB5FF;
    color: #001E6C;
    border: none;
    cursor: pointer;
    font-size: 27px;
    font-weight: bold;
}

p { 
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #001E6C;
    margin-top: 30px;
}

h3{
    font-family: 'Roboto', sans-serif;
    width: 65px;
    height: 45px;
    display: inline-block;
    background-color: #7FB5FF;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    margin-left: 30px;
    color: #001E6C;
}